.card {
  text-align: center !important;
  border: none !important;
  img {
    padding: 40px;
    width: 100%;
    max-width: 150px;
    display: block;
    margin: auto;
  }
}

.a-center {
  text-align: center;

  img {
    padding: 40px;
  }
}
.s-center {
  text-align: center;
  img {
    padding: 10px;
  }
}
.s-right {
  text-align: right;
}
.f-center {
  text-align: center;
}

.card {
  text-align: center;
  border: none !important;
  img {
    padding: 4px;
  }
}
h4 {
  text-align: left;
}

.sect-img {
  width: 100%;
}

.f-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  padding: 30px 0;
  .item {
    h4 {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      text-align: left;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      color: #067a46;
    }
  }
}

@media (max-width: 1000px) {
  .sect-main {
    flex-direction: column;
  }
  .f-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 30px 0;
    .item {
      h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: #067a46;
      }
    }
  }
}

@media (max-width: 600px) {
  .f-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 30px 0;
    .item {
      h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: #067a46;
      }
    }
  }
}

@media (max-width: 400px) {
  .f-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 30px 0;
    .item {
      h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: #067a46;
      }
    }
  }
}
